

* {
  margin: 0;
  }

.App {
  text-align: center;

}

nav {
  
}

.Nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  list-style: none;
}

.vehicles {
  display: flex;
  flex-flow: row wrap;
}

.bar-link {
  margin: 10px;
  background:black;
  padding: 2px;
  margin-top: 0px;
  border-style: solid;
  border-radius: 30px;
}
.nav-title {
  margin-right: 10px;
}

.model {
  margin:10px;
  padding: 5px;


}
.data {
  
  margin: 5rem auto;
  display: flex ;
  align-content: left;
  text-align: left;
}
.main-container {

  width: 80%;
  margin: 0 auto;
} 
 
.upper-content {
  margin: 0 auto;
  text-align: center;

}

.table{
  text-align: left;

}

.table-container{
  width:80%;
  margin: auto;
  align-items: center;
}

.card-container {
  min-width:90%;
  margin:20px;
  display: flex;
  flex-flow: row wrap;
  
}

.car-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.car-card {
  box-shadow: 0px 0px 20px -5px;
  border-style:solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}

.card-title {
  text-transform: capitalize;

}

.td-capitalize {
  text-transform: capitalize;
}

.filter {
 width: 210px;
  
}

.container-cars {
  min-width:120%;
  display: flex;
  flex-direction:row;
}

.hidden {display:none;}

.carMarket-upper-body {
  display: flex;
  flex-direction: row;
}

#get-car-button {
  margin-left:60px;
}
.car-market-title {
  margin-left: 20px
}

.select-form {
  width: 19%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-company {
  margin-right: 45px;
}
.lower-card-buttons {
  display:flex;
  flex-direction: row;
} 